@page "/artista"
@using ScreenSound.Modelos
@using ScreenSound.Web.Response
@using ScreenSound.Web.Services
@inject ArtistaAPI artistaAPI

<h3>@mensagem</h3>
@if(artistaResponse is not null)
{
    foreach (var a in artistaResponse)
    {
        <p>@a.Nome</p>
    }
}
<h3>Artistas</h3>
@if (Artista is not null)
{
            @foreach (var artista in artistas)
            {
                <CardArtista Artista="artista" />
            }
        }

@code{
    public string mensagem { get; set; } = "teste";
    public ICollection<ArtistaResponse>? artistaResponse;
    protected override async Task OnInitializedAsync() => artistaResponse = await artistaAPI.GetArtistasAsync();

}